.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn-default:active,
.btn-primary:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-default {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(transparent), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, transparent, 0%, rgba(0, 0, 0, 0), 100%);
  background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
  border-color: rgba(0, 0, 0, 0);
  text-shadow: 0 1px 0 #fff;
  border-color: #ccc;
}
.btn-default:active,
.btn-default.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(transparent), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, transparent, 0%, rgba(0, 0, 0, 0), 100%);
  background-image: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-primary:active,
.btn-primary.active {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
.btn-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2ecc71), to(#25a25a));
  background-image: -webkit-linear-gradient(top, #2ecc71, 0%, #25a25a, 100%);
  background-image: -moz-linear-gradient(top, #2ecc71 0%, #25a25a 100%);
  background-image: linear-gradient(to bottom, #2ecc71 0%, #25a25a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ecc71', endColorstr='#ff25a25a', GradientType=0);
  border-color: #239a55;
}
.btn-success:active,
.btn-success.active {
  background-color: #25a25a;
  border-color: #239a55;
}
.btn-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#9b59b6), to(#804399));
  background-image: -webkit-linear-gradient(top, #9b59b6, 0%, #804399, 100%);
  background-image: -moz-linear-gradient(top, #9b59b6 0%, #804399 100%);
  background-image: linear-gradient(to bottom, #9b59b6 0%, #804399 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b59b6', endColorstr='#ff804399', GradientType=0);
  border-color: #7a4092;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #804399;
  border-color: #7a4092;
}
.btn-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e74c3c), to(#d62c1a));
  background-image: -webkit-linear-gradient(top, #e74c3c, 0%, #d62c1a, 100%);
  background-image: -moz-linear-gradient(top, #e74c3c 0%, #d62c1a 100%);
  background-image: linear-gradient(to bottom, #e74c3c 0%, #d62c1a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe74c3c', endColorstr='#ffd62c1a', GradientType=0);
  border-color: #cd2a19;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #d62c1a;
  border-color: #cd2a19;
}
.btn-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00cef6), to(#00a3c3));
  background-image: -webkit-linear-gradient(top, #00cef6, 0%, #00a3c3, 100%);
  background-image: -moz-linear-gradient(top, #00cef6 0%, #00a3c3 100%);
  background-image: linear-gradient(to bottom, #00cef6 0%, #00a3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00cef6', endColorstr='#ff00a3c3', GradientType=0);
  border-color: #009bb9;
}
.btn-info:active,
.btn-info.active {
  background-color: #00a3c3;
  border-color: #009bb9;
}
.thumbnail,
.img-thumbnail {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00edc7), to(#00d4b2));
  background-image: -webkit-linear-gradient(top, #00edc7, 0%, #00d4b2, 100%);
  background-image: -moz-linear-gradient(top, #00edc7 0%, #00d4b2 100%);
  background-image: linear-gradient(to bottom, #00edc7 0%, #00d4b2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00edc7', endColorstr='#ff00d4b2', GradientType=0);
  background-color: #00d4b2;
}
.navbar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(rgba(26, 26, 26, 0)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(26, 26, 26, 0), 0%, transparent, 100%);
  background-image: -moz-linear-gradient(top, rgba(26, 26, 26, 0) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(26, 26, 26, 0) 0%, transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001a1a1a', endColorstr='#00000000', GradientType=0);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
.navbar .navbar-nav > .active > a {
  background-color: transparent;
}
.navbar-brand,
.navbar-nav > li > a {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
  border-radius: 0;
}
.alert {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.alert-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bcf0d2), to(#9de9bd));
  background-image: -webkit-linear-gradient(top, #bcf0d2, 0%, #9de9bd, 100%);
  background-image: -moz-linear-gradient(top, #bcf0d2 0%, #9de9bd 100%);
  background-image: linear-gradient(to bottom, #bcf0d2 0%, #9de9bd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcf0d2', endColorstr='#ff9de9bd', GradientType=0);
  border-color: #7ee2a8;
}
.alert-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#a9f1ff), to(#83ebff));
  background-image: -webkit-linear-gradient(top, #a9f1ff, 0%, #83ebff, 100%);
  background-image: -moz-linear-gradient(top, #a9f1ff 0%, #83ebff 100%);
  background-image: linear-gradient(to bottom, #a9f1ff 0%, #83ebff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa9f1ff', endColorstr='#ff83ebff', GradientType=0);
  border-color: #5de5ff;
}
.alert-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e6d5ed), to(#d6bae1));
  background-image: -webkit-linear-gradient(top, #e6d5ed, 0%, #d6bae1, 100%);
  background-image: -moz-linear-gradient(top, #e6d5ed 0%, #d6bae1 100%);
  background-image: linear-gradient(to bottom, #e6d5ed 0%, #d6bae1 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6d5ed', endColorstr='#ffd6bae1', GradientType=0);
  border-color: #c6a0d5;
}
.alert-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fbdedb), to(#f6bfb9));
  background-image: -webkit-linear-gradient(top, #fbdedb, 0%, #f6bfb9, 100%);
  background-image: -moz-linear-gradient(top, #fbdedb 0%, #f6bfb9 100%);
  background-image: linear-gradient(to bottom, #fbdedb 0%, #f6bfb9 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbdedb', endColorstr='#fff6bfb9', GradientType=0);
  border-color: #f29f97;
}
.progress {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #ffffff, 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffffffff', GradientType=0);
}
.progress-bar {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00edc7), to(#00ba9c));
  background-image: -webkit-linear-gradient(top, #00edc7, 0%, #00ba9c, 100%);
  background-image: -moz-linear-gradient(top, #00edc7 0%, #00ba9c 100%);
  background-image: linear-gradient(to bottom, #00edc7 0%, #00ba9c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00edc7', endColorstr='#ff00ba9c', GradientType=0);
}
.progress-bar-success {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2ecc71), to(#25a25a));
  background-image: -webkit-linear-gradient(top, #2ecc71, 0%, #25a25a, 100%);
  background-image: -moz-linear-gradient(top, #2ecc71 0%, #25a25a 100%);
  background-image: linear-gradient(to bottom, #2ecc71 0%, #25a25a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ecc71', endColorstr='#ff25a25a', GradientType=0);
}
.progress-bar-info {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00cef6), to(#00a3c3));
  background-image: -webkit-linear-gradient(top, #00cef6, 0%, #00a3c3, 100%);
  background-image: -moz-linear-gradient(top, #00cef6 0%, #00a3c3 100%);
  background-image: linear-gradient(to bottom, #00cef6 0%, #00a3c3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00cef6', endColorstr='#ff00a3c3', GradientType=0);
}
.progress-bar-warning {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#9b59b6), to(#804399));
  background-image: -webkit-linear-gradient(top, #9b59b6, 0%, #804399, 100%);
  background-image: -moz-linear-gradient(top, #9b59b6 0%, #804399 100%);
  background-image: linear-gradient(to bottom, #9b59b6 0%, #804399 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9b59b6', endColorstr='#ff804399', GradientType=0);
}
.progress-bar-danger {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e74c3c), to(#d62c1a));
  background-image: -webkit-linear-gradient(top, #e74c3c, 0%, #d62c1a, 100%);
  background-image: -moz-linear-gradient(top, #e74c3c 0%, #d62c1a 100%);
  background-image: linear-gradient(to bottom, #e74c3c 0%, #d62c1a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe74c3c', endColorstr='#ffd62c1a', GradientType=0);
}
.list-group {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  text-shadow: 0 -1px 0 #00ba9c;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00edc7), to(#00c7a7));
  background-image: -webkit-linear-gradient(top, #00edc7, 0%, #00c7a7, 100%);
  background-image: -moz-linear-gradient(top, #00edc7 0%, #00c7a7 100%);
  background-image: linear-gradient(to bottom, #00edc7 0%, #00c7a7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00edc7', endColorstr='#ff00c7a7', GradientType=0);
  border-color: #00c7a7;
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
  background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e8e8e8, 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
}
.panel-primary > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00edc7), to(#00d4b2));
  background-image: -webkit-linear-gradient(top, #00edc7, 0%, #00d4b2, 100%);
  background-image: -moz-linear-gradient(top, #00edc7 0%, #00d4b2 100%);
  background-image: linear-gradient(to bottom, #00edc7 0%, #00d4b2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00edc7', endColorstr='#ff00d4b2', GradientType=0);
}
.panel-success > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#bcf0d2), to(#a8ebc4));
  background-image: -webkit-linear-gradient(top, #bcf0d2, 0%, #a8ebc4, 100%);
  background-image: -moz-linear-gradient(top, #bcf0d2 0%, #a8ebc4 100%);
  background-image: linear-gradient(to bottom, #bcf0d2 0%, #a8ebc4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcf0d2', endColorstr='#ffa8ebc4', GradientType=0);
}
.panel-info > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#a9f1ff), to(#90edff));
  background-image: -webkit-linear-gradient(top, #a9f1ff, 0%, #90edff, 100%);
  background-image: -moz-linear-gradient(top, #a9f1ff 0%, #90edff 100%);
  background-image: linear-gradient(to bottom, #a9f1ff 0%, #90edff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa9f1ff', endColorstr='#ff90edff', GradientType=0);
}
.panel-warning > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e6d5ed), to(#dbc3e5));
  background-image: -webkit-linear-gradient(top, #e6d5ed, 0%, #dbc3e5, 100%);
  background-image: -moz-linear-gradient(top, #e6d5ed 0%, #dbc3e5 100%);
  background-image: linear-gradient(to bottom, #e6d5ed 0%, #dbc3e5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe6d5ed', endColorstr='#ffdbc3e5', GradientType=0);
}
.panel-danger > .panel-heading {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#fbdedb), to(#f8c9c4));
  background-image: -webkit-linear-gradient(top, #fbdedb, 0%, #f8c9c4, 100%);
  background-image: -moz-linear-gradient(top, #fbdedb 0%, #f8c9c4 100%);
  background-image: linear-gradient(to bottom, #fbdedb 0%, #f8c9c4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbdedb', endColorstr='#fff8c9c4', GradientType=0);
}
.well {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#e2e2e2), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #e2e2e2, 0%, #eeeeee, 100%);
  background-image: -moz-linear-gradient(top, #e2e2e2 0%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #e2e2e2 0%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe2e2e2', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #d5d5d5;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
}
